.App {
  text-align: center;
  margin: 5vh 5%;
}

.moviecard {
  text-align: center;
  color: #fff;
  background-color: #333333;
}

.moviecard>p {
  margin: 20px;
  font-size: 12px;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  justify-content: center;
  gap: 10px;
}

.genres {
  margin: 20px;
}

.genres p {
  color: darkgrey;
  font-size: 10px;
  font-weight: bold;
  margin: 2px;
}